# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
*.egg

# Outros
SEMINARIO.md

# Virtual environments
venv/
.venv/
env/
.env/

# Logs
fourier_cipher/logs/*.log

# Media samples (arquivos de teste pesados)
*.wav
*.webm
*.webp
#*.jpg
*.jpeg
*.mp3
*.mp4
*.ogg
*.flac

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
